{{!-- Desmond's handlebars --}}

<div class="row">
  {{!-- "{{hikePost.img}}" something like this to target Hike's picture.--}}
  {{!-- <img
    src="{{hikePost.imageUrl}}"
    alt="Nature"> --}}
  <div class="col-sm-12 mb-3 mb-sm-0">
    <div class="card mt-4 border-primary border border-1">
      <div class="card-body border-primary border border-5">
       <img src="{{hikePost.imageUrl}}" class="card-img-top" alt="{{hikePost.name}}" />
        {{!-- <h5 class="card-title">{{hikePost.name}}</h5> --}}
        <p class="card-text"><strong>Location:</strong> {{hikePost.location}}</p>
        <p class="card-text"><strong>Difficulty 1-5:</strong> {{hikePost.difficulty}}</p>
        <p class="card-text"><strong>Description:</strong> {{hikePost.description}}</p>
        <p class="card-text"><strong>Max Altitude:</strong> {{hikePost.max_altitude}}</p>
        <p class="card-text"><strong>Distance:</strong> {{hikePost.length}} miles</p>
        <p class="card-text"><strong>Rating 1-5 ⭐:</strong> {{hikePost.rating}} ⭐ </p>

      </div>
    </div>
  </div>
  


{{!-- add a comment form --}}
  <div class="card mt-4 col-sm-12 mb-3 mb-sm-0 ">
    <div class="card-body  ">
      <h5> Add a comment!</h5>
      <form id="commentForm">
        <textarea class="form-control " data-hikeid= {{hikePost.id}} name="comment" rows="3" id="commentData"></textarea>

        <button type="submit" class="btn btn-primary mt-4 mb-3" id="submitCommentButton">Submit</button>
      </form>

    </div>
{{!-- comment post card --}}
    <div>
      <div class="col-sm-12 mb-3 mb-sm-0 ">
        <div class="card mt-4 ">
          <div class="card-body">
            <h5 class="card-title">Comments:</h5>
            {{#each hikePost.comments}} 
            
            <div class="card" id="commentCard">
              <div class="card-body"  >
                {{content}} <button type="submit" class="btn btn-danger" id="deleteButton" data-commentid={{id}} onclick="deleteComment(event)" data-hikeid={{hikePost.id}} >Delete</button>
              </div>
                
            </div>
          {{/each}}
          </div>

        </div>
      </div>
    </div>

  </div>

  <script src="/js/hike_details.js"></script>

  