{{!-- Desmond's handlebars --}}
<link rel="stylesheet" type="text/css" href="../public/css/style.css">
<div class="row">
  {{!-- "{{hikePost.img}}" something like this to target Hike's picture.--}}
  <img
    src="https://www.wallpaperbetter.com/wallpaper/159/604/884/usa-washington-mount-baker-volcano-lake-reflection-morning-sunrise-forest-1080P-wallpaper.jpg"
    alt="Nature">
  <div class="col-sm-12 mb-3 mb-sm-0">
    <div class="card mt-4 border-primary border border-1">
      <div class="card-body border-primary border border-5">
       <img src="{{hikePost.imageUrl}}" class="card-img-top" alt="{{hikePost.name}}" />
        {{!-- <h5 class="card-title">{{hikePost.name}}</h5> --}}
        <p class="card-text"><strong>Location:</strong> {{hikePost.location}}</p>
        <p class="card-text"><strong>Difficulty 1-5:</strong> {{hikePost.difficulty}}</p>
        <p class="card-text"><strong>Description:</strong> {{hikePost.description}}</p>
        <p class="card-text"><strong>Max Altitude:</strong> {{hikePost.max_altitude}}</p>
        <p class="card-text"><strong>Distance:</strong> {{hikePost.length}} miles</p>
        <p class="card-text"><strong>Rating 1-5:</strong> {{hikePost.rating}}</p>

      </div>
    </div>
  </div>
  {{!-- how to get an average rating? --}}

  {{#if hikePost.rating}}
  <div class="card">
    <div class="card-body  ">
      <strong>Your Rating:</strong>
      {{hikePost.rating}} ⭐<strong>'s</strong> <button type="submit" data-hikeid={{hikePost.id}} class="btn btn-primary mt-4 mb-3" id="ratingButton">Change Rating</button>
    </div>
  </div>
  {{!-- <div class="card">
    <div class="card-body">
      User Ratings:
      {{hikePost.rating}} ⭐'s
    </div>
  </div> --}}

  {{else}}


</div>

{{!-- add a rating form --}}
<div class="card mt-4 col-sm-12 mb-3 mb-sm-0">
  <div class="card-body ">
    <h5> Add a hike rating!</h5>
    {{!-- <form method="put" > --}}
      <select class="form-select" aria-label="Default select example" id="selectBox">
        <option selected>Choose a rating 1-5 stars⭐</option>
        <option value="1">One Stars⭐</option>
        <option value="2">Two Stars⭐⭐</option>
        <option value="3">Three Stars⭐⭐⭐</option>
        <option value="4">Four Stars⭐⭐⭐⭐</option>
        <option value="5">Five Stars⭐⭐⭐⭐⭐</option>
      </select>

      <button type="submit" data-hikeid={{hikePost.id}} class="btn btn-primary mt-4 mb-3" id="ratingButton">Submit</button>
    {{!-- </form> --}}

  </div>
 
  {{/if}}

{{!-- add a comment form --}}
  <div class="card mt-4 col-sm-12 mb-3 mb-sm-0 ">
    <div class="card-body  ">
      <h5> Add a comment!</h5>
      <form id="commentForm">
        <textarea class="form-control " data-hikeid= {{hikePost.id}} name="comment" rows="3" id="commentData"></textarea>

        <button type="submit" class="btn btn-primary mt-4 mb-3" id="submitCommentButton">Submit</button>
      </form>

    </div>
{{!-- comment post card --}}
    <div>
      <div class="col-sm-12 mb-3 mb-sm-0 ">
        <div class="card mt-4 ">
          <div class="card-body">
            <h5 class="card-title">Comments:</h5>
            {{#each hikePost.comments}} 
            
            <div class="card" id="commentCard">
              <div class="card-body"  >
                {{content}} <button type="submit" class="btn btn-danger" id="deleteButton" data-commentid={{id}} onclick="deleteComment(event)" data-hikeid={{hikePost.id}} >Delete</button>
              </div>
                
            </div>
          {{/each}}
          </div>

        </div>
      </div>
    </div>

  </div>

  <script src="/js/hike_details.js"></script>

  