<div class="row">
  {{!-- "{{hikePost.img}}" something like this to target Hike's picture.--}}
  <img
    src="https://www.wallpaperbetter.com/wallpaper/159/604/884/usa-washington-mount-baker-volcano-lake-reflection-morning-sunrise-forest-1080P-wallpaper.jpg"
    alt="Nature">
    <strong id="favoritHikes"> Our Favorite Hikes </strong>
  <div class="col-sm-12 mb-3 mb-sm-0">
    <div class="card mt-4">
      <img src="{{hikePost.imageUrl}}" class="card-img-top" alt="{{hikePost.name}}" />
      <div class="card-body">
        <h5 class="card-title">{{hikePost.name}}</h5>
        <p class="card-text"><strong>Location:</strong> {{hikePost.location}}</p>
        <p class="card-text"><strong>Difficulty 1-5:</strong> {{hikePost.difficulty}}</p>
        <p class="card-text"><strong>Description:</strong> {{hikePost.description}}</p>
        <p class="card-text"><strong>Max Altitude:</strong> {{hikePost.max_altitude}}</p>
        <p class="card-text"><strong>Distance:</strong>{{hikePost.length}} miles</p>
        <p class="card-text"><strong>Rating 1-5:</strong> {{hikePost.rating}}</p>

      </div>
    </div>
  <div class="col-sm-12 mb-3 mb-sm-0">
    <div class="card mt-4">
      <img src="{{hikePost.imageUrl}}" class="card-img-top" alt="{{hikePost.name}}" />
      <div class="card-body">
        <h5 class="card-title">{{hikePost.name}}</h5>
        <p class="card-text"><strong>Location:</strong> {{hikePost.location}}</p>
        <p class="card-text"><strong>Difficulty 1-5:</strong> {{hikePost.difficulty}}</p>
        <p class="card-text"><strong>Description:</strong> {{hikePost.description}}</p>
        <p class="card-text"><strong>Max Altitude:</strong> {{hikePost.max_altitude}}</p>
        <p class="card-text"><strong>Distance:</strong>{{hikePost.length}} miles</p>
        <p class="card-text"><strong>Rating 1-5:</strong> {{hikePost.rating}}</p>

      </div>
    </div>
  <div class="col-sm-12 mb-3 mb-sm-0">
    <div class="card mt-4">
      <img src="{{hikePost.imageUrl}}" class="card-img-top" alt="{{hikePost.name}}" />
      <div class="card-body">
        <h5 class="card-title">{{hikePost.name}}</h5>
        <p class="card-text"><strong>Location:</strong> {{hikePost.location}}</p>
        <p class="card-text"><strong>Difficulty 1-5:</strong> {{hikePost.difficulty}}</p>
        <p class="card-text"><strong>Description:</strong> {{hikePost.description}}</p>
        <p class="card-text"><strong>Max Altitude:</strong> {{hikePost.max_altitude}}</p>
        <p class="card-text"><strong>Distance:</strong>{{hikePost.length}} miles</p>
        <p class="card-text"><strong>Rating 1-5:</strong> {{hikePost.rating}}</p>

      </div>
    </div>
  </div>
