
<<<<<<< HEAD
<div class="row">
  {{!-- "{{hikePost.img}}" something like this to target Hike's picture.--}}
  <img
    src="https://www.wallpaperbetter.com/wallpaper/159/604/884/usa-washington-mount-baker-volcano-lake-reflection-morning-sunrise-forest-1080P-wallpaper.jpg"
    alt="Nature">
    <strong id="favoritHikes"> Our Favorite Hikes </strong>
  <div class="col-sm-12 mb-3 mb-sm-0">
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">{{hikePost.name}}</h5>
        <p class="card-text"><strong>Location:</strong> {{hikePost.location}}</p>
        <p class="card-text"><strong>Difficulty 1-5:</strong> {{hikePost.difficulty}}</p>
        <p class="card-text"><strong>Description:</strong> {{hikePost.description}}</p>
        <p class="card-text"><strong>Max Altitude:</strong> {{hikePost.max_altitude}}</p>
        <p class="card-text"><strong>Distance:</strong>{{hikePost.length}} miles</p>
        <p class="card-text"><strong>Rating 1-5:</strong> {{hikePost.rating}}</p>

      </div>
    </div>
  <div class="col-sm-12 mb-3 mb-sm-0">
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">{{hikePost.name}}</h5>
        <p class="card-text"><strong>Location:</strong> {{hikePost.location}}</p>
        <p class="card-text"><strong>Difficulty 1-5:</strong> {{hikePost.difficulty}}</p>
        <p class="card-text"><strong>Description:</strong> {{hikePost.description}}</p>
        <p class="card-text"><strong>Max Altitude:</strong> {{hikePost.max_altitude}}</p>
        <p class="card-text"><strong>Distance:</strong>{{hikePost.length}} miles</p>
        <p class="card-text"><strong>Rating 1-5:</strong> {{hikePost.rating}}</p>

      </div>
    </div>
  <div class="col-sm-12 mb-3 mb-sm-0">
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">{{hikePost.name}}</h5>
        <p class="card-text"><strong>Location:</strong> {{hikePost.location}}</p>
        <p class="card-text"><strong>Difficulty 1-5:</strong> {{hikePost.difficulty}}</p>
        <p class="card-text"><strong>Description:</strong> {{hikePost.description}}</p>
        <p class="card-text"><strong>Max Altitude:</strong> {{hikePost.max_altitude}}</p>
        <p class="card-text"><strong>Distance:</strong>{{hikePost.length}} miles</p>
        <p class="card-text"><strong>Rating 1-5:</strong> {{hikePost.rating}}</p>

      </div>
    </div>
  </div>
=======
<div class="container">
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
</div>
</div>
       
    <footer class="page-footer bg-dark">
      <div class="container">
        <div class="row">
    <div class="col-6">
    </div>
          <div class="col-6 contact">
            <h5>Contact Us</h5>
            <ul id="contact_links">
              <li><a class="fa fa-envelope" style="font-size:16px;" href="https://www.gmail.com/" target="_blank">    Email</a></li>
              <li><a class="fa fa-facebook" style="font-size:16px;" href="https://www.facebook.com/" target="_blank">    Facebook</a></li>
              <li><a class="fa fa-instagram" style="font-size:16px;" href="https://www.instagram.com/" target="_blank">    Instagram</a></li> 
            </ul>
          </div>
      </div>
    </footer>
>>>>>>> origin/main
